* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.home {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  right: 20%;
  border-radius: 50%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  z-index: 6;
}

.home .fas {
  color: #000;
  padding: 20px;
}

.home .fas:hover {
  background-color: rgb(255, 123, 0);
  border-radius: 50%;
  color: #fff;
}

.home .fas:active {
  color: #000;
  background-color: rgb(219, 106, 0);
}

span {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(22, 22, 22);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  padding: 10vh 0;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 3;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}
.container .section {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .section .content {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
  width: 600px;
}
.container .section .content h3 {
  font-size: 2.2rem;
  padding-bottom: 1rem;
}
.container .section .content p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.8;
}

/* sfera */

.ball {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: 2;
}

.one {
  width: 400px;
  height: 400px;
  top: 8vh;
  left: 7%;
  background: radial-gradient(
    circle,
    rgba(189, 63, 251, 1) 25%,
    rgba(252, 70, 214, 1) 100%
  );
}

.two {
  width: 600px;
  height: 600px;
  top: 600px;
  right: 5%;
  background: radial-gradient(
    circle,
    rgba(63, 251, 208, 1) 0%,
    rgba(70, 132, 252, 1) 100%
  );
}

.three {
  width: 450px;
  height: 450px;
  top: 90%;
  left: 10%;
  background: radial-gradient(
    circle,
    rgba(251, 149, 63, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

@media only screen and (max-width: 700px) {
  .home {
    right: 30px;
  }

  body {
    padding: 0 0;
    margin-bottom: 50px;
  }

  .one {
    width: 250px;
    height: 250px;
  }

  .two {
    width: 200px;
    height: 200px;
  }

  .three {
    width: 150px;
    height: 150px;
  }

  p {
    width: 98%;
  }
  .container .section {
    height: auto;
  }

  .container .section .content {
    width: auto;
  }

  .container .section .content p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 500px) {
  .one {
    top: 40%;
    width: 250px;
    height: 250px;
  }

  .two {
    top: 140vh;
    width: 200px;
    height: 200px;
  }

  .three {
    width: 150px;
    height: 150px;
    top: 200vh;
  }
}
