* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
}

.timer {
  margin-bottom: 30px;
}

h3 {
  font-size: 200px;
  color: rgba(0, 0, 0, 0.7);
}

.cols {
  display: flex;
  margin-bottom: 50px;
}

p {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 20px 20px;
  margin-right: 20px;
  border: rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

button {
  padding: 24px 44px;
  color: #fff;
  display: inline-block;
  background-color: #393fdc;
  border-radius: 2.2rem;
  border: none;
  font-size: 1.8rem;
}

@media screen and (max-width: 1100px) {
  h3 {
    font-size: 100px;
  }

  p {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .cols {
    flex-direction: column;
  }

  button {
    padding: 14px 24px;
    border-radius: 1.8rem;
    font-size: 1rem;
  }
}

@media screen and (max-height: 800px) {
  p {
    width: 60px;
    height: 60px;
  }
}
